{
  "plugins": [
    "@babel/syntax-dynamic-import", 
    "@babel/plugin-syntax-jsx", 
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ],
    [
      "prismjs", {
        "languages": ["javascript", "css", "markup"],
        "plugins": ["line-numbers", "copy-to-clipboard", "treeview"],
        "css": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
