{
  "plugins": [
    "@babel/syntax-dynamic-import", 
    "@babel/plugin-syntax-jsx", 
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
