.code-wrap {
  padding: 3px 6px;
  background-color: $code-text;
  font-size: 18px;
  margin: 0 5px;
  border-radius: 5px;
  padding-top: 4px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}