@import "_prism-theme";

.code-block {
  pre[class*="language-"] {
    &::before, &:after {
      box-shadow: none;
    }

    border-radius: 10px;
  }

  &.with-filename {
    pre[class*="language-"] {
      border-radius: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__file {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(246, 247, 249);
    padding: 10px 8px;
    color: rgb(94, 104, 126);
    border-color: rgba(0,0,0,.05);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  }
}