.lang-switch {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  
  border-radius: 5px;
  cursor: pointer;
  line-height: 24px;
  background: #e3e4e9;
  font-family: $main-font;
  font-weight: 500;
  color: $text-color;
  z-index: 10;

  &__lang {
    &.active {
      background: #B4BEC9;
    }

    border-radius: 5px;
    font-size: 16px;
    width: 30px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}