.sidebar {
  &.container {
    width: 50px;
    padding-left: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba(0, 0, 0, 1);
  color: white;
  position: relative;
  overflow: hidden;
  transition: all .3s;
  font-family: $main-font;

  &.active {
    &.container {
      width: 220px;
    }

    .sidebar {
      &__item {
        span {
          visibility: visible;
        }
      }
    }
  }

  &__list {
    li {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  
  &__item {
    margin-top: 10px;
    padding: 10px 15px;
    white-space: nowrap;

    cursor: pointer;
    color: $text-color;
    font-size: 18px;

    span {
      visibility: hidden;
      padding-left: 4px;
    }

    &.active, &:hover {
      color: white;
      transition: .3s color;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    bottom: 10px;

    font-size: 25px;
    cursor: pointer;

    i {
      transition: all .3s;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        margin: 0;
      }
    }

    &.active {
      i {
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }
}