.sidebar {
  height: 100%;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba(0, 0, 0, 1);
  color: white;

  &__list {
    li {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  
  &__item {
    margin-top: 10px;
    padding: 10px 15px;
    white-space: nowrap;

    cursor: pointer;
    color: $text-color;
    font-size: 18px;

    &.active, &:hover {
      color: white;
      transition: .3s color;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}