@import "_vars";
@import "fontello.css";
@import "roboto.css";

@import "_container";
@import "_title";
@import "_main";
@import "_sidebar";
@import "_paragraph";
@import "_code-block";
@import "_code-wrap";
@import "_list";
@import "_lang-switch";
@import "_start-screen";
@import "_icon-link";

* { 
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main, #app, .container, .app {
  height: 100%;
  width: auto;
}

#app {
  background-color: $main-color;
}